
<h2 class="page-header">Edit</h2>
<p>Manage account</p>

{{#if errors}}
    {{#each errors}}
        <div class = "alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}



<li class="item">
	<a class="link" href="/Search">Add Game</a>
</li>

  <div class="row">
    <div class="col-sm">
    	<h4>Update Account</h4>


<form id="myform" method="post" action="#">
    <div class="form-group">
        <label>Address</label>
        <input id="address" type="text" class="form-control" placeholder="Address" name="address" >
    </div>
    <div class="form-group">
        <label>City</label>
        <input id="city" type="text" class="form-control" placeholder="City" name="city" >
    </div>
    <div class="form-group">
        <label>State</label>
        <input id="state" type="text" class="form-control" placeholder="State" name="state" >
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" >
    </div>
    <div class="form-group">
        <label>Confirm New Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password2" >
    </div>
    <input type="hidden" id="lat" name="lat" value=>
    <input type="hidden" id="lng" name="lng" value=>
    <button type="button" onclick="geocodeAddress()" class="btn btn-default">Submit</button>
</form>



    </div>


    <div class="col-sm">
    	<h4>Edit Want Games</h4>
    	<div id="wantList">

		</div>
    </div>


    <div class="col-sm">
    	<h4>Edit Have Games</h4>

    	<div id="haveList">

		</div>
    </div>
  </div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/google-map.js"></script>
<script src="/javascripts/edit.js"></script>