
<h2 class="page-header">Edit</h2>
<p>Manage account</p>


<li class="item">
	<a class="link" href="/Search">Add Game</a>
</li>

  <div class="row">
    <div class="col-sm">
    	Update Account
    </div>
    <div class="col-sm">
      Edit Want Games
    </div>
    <div class="col-sm">
      Edit Have Games
    </div>
  </div>
