
{{#if errors}}
    {{#each errors}}
        <div class = "alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}

<!-- add a platform input -->


<form method="get" action="/Search">
	<div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Title" name="title" value="{{title}}">
    </div>

    <label>Platform: </label>
    <select name="platform">
    	<option value="6">PC</option>
    	<option value="48">Play Station 4</option>
    	<option value="9">Play Station 3</option>
    	<option value="8">Play Station 2</option>
    	<option value="41">Wii U</option>
    	<option value="5">Wii</option>
  		<option value="49">Xbox One</option>
  		<option value="12">Xbox 360</option>
  		<option value="11">Xbox</option>
	</select>
    <br>
    <button type="submit"class="btn btn-default">Submit</button>

</form>



<script src="/javascripts/SearchResults.js"></script>

<div id="gameList" class"container">


</div>
